# API Keys for Bulls & Bears Fundamentals Data Pipelines
FRED_API_KEY=84f5b0449fb776b02e6fa1ffef335f2d
ALPHAVANTAGE_API_KEY=JDY5W26J2GNQFQT8
EODHD_API_KEY=6a4fb85e8a9681.40916052
NEWSDATA_API_KEY=pub_97538defa13e4ef5abe74fd582de68df